/* NAVIGATION*/
#nav a {
  color: #ea865b;
  background-color: lightblue;
}

/* ALL PAGES*/
@media (min-width: 500px) {
    .container {
      background-color: lightpink;
    }
}
.container {
  display: flex;
  flex-wrap: wrap;
  img {
    width: 40%;
  }
}

/*INDEX*/

/*BOOKS*/
#booktable {
  padding: 5px;
  width: 75%;
}
table {
  th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 3px;
    text-align: center;
  }
}

/* ROUTINE */

/*YOUTUBE*/
#youtube-screenshots > img {
  background-color: lightblue;
}
  img.resize {
    max-width: 40%;
    max-height: 40%;
    width: auto;
    height: auto;

  }
